body {
    font-family: 'Space Mono', monospace;
    background: #f6f9ff;
    color: #444444;
    overflow-x: hidden;
}

.pagetitle {
    margin-top: -65px;
}

.pagetitle h1 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #012970;
}

